.productborder{border-style: dashed;
      border-color: #E8D874;
            border-radius: 20px;
            height: 1050px;
      width: 100%;

}
.productposition{
	position: absolute;
  top:0px;
  right:50%;
  left: 35%;
}
.productposition1{ 
	position: absolute;
  top:0px;
  right:50%;
  left: 70%;
}
.productposition2{
	position: absolute;
  top:410px;
  right:50%;
  left: 35%;
}
.productposition3{
	position: absolute;
  top:410px;

}
.productposition4{ 
	position: absolute;
  top:410px;
  right:50%;
  left: 70%;
}
.price{
	text-align:center;
	font-family: Lucida;
}
.hrefposition{
	font-size: 0.0001px;
	color:gray;
}
  /*設定div樣式的整體佈局*/
  .page-icon{
    margin:20px 0 0 0;/*設定距離頂部20畫素*/
    font-size:0;/*修復行內元素之間空隙間隔*/
    text-align:center;/*設定內容居中顯示*/
  }
  
  /*設定共有的的樣式佈局，主要是進行程式碼優化，提高執行效率*/
  .page-icon a,.page-disabled,.page-next{
    border:1px solid #ccc;
    border-radius:3px;
    padding:4px 10px 5px;
    font-size:14PX;/*修復行內元素之間空隙間隔*/
    margin-right:10px;
  }
  
  /*對 a 標籤進行樣式佈局 */
  .page-icon a{
    text-decoration:none;/*取消連結的下劃線*/
    color:#005aa0;
  }
  
  .page-current{
    color:#ff6600;
    padding:4px 10px 5px;
    font-size:14PX;/*修復行內元素之間空隙間隔*/
  }
  
  .page-disabled{
    color:#ccc;
  }
  
  .page-next i,.page-disabled i{
    cursor:pointer;/*設定滑鼠經過時的顯示狀態，這裡設定的是顯示狀態為小手狀態*/
    display:inline-block;/*設定顯示的方式為行內塊元素*/
    width:5px;
    height:9px;
    background-image:url(http://img.mukewang.com/547fdbc60001bab900880700.gif);/*獲取圖示的背景連結*/
  }
  .page-disabled i{
    background-position:-80px -608px;
    margin-right:3px;
  }

  .page-next i{
    background-position:-62px -608px;
    margin-left:3px;
  }