.productborder{border-style: dashed;
      border-color: #E8D874;
            border-radius: 20px;
            height: 1050px;
      width: 100%;

}
.productposition{
	position: absolute;
  top:0px;
  right:50%;
  left: 35%;
}
.productposition1{ 
	position: absolute;
  top:0px;
  right:50%;
  left: 70%;
}
.productposition2{
	position: absolute;
  top:410px;
  right:50%;
  left: 35%;
}
.productposition3{
	position: absolute;
  top:410px;

}
.productposition4{ 
	position: absolute;
  top:410px;
  right:50%;
  left: 70%;
}
.price{
	text-align:center;
	font-family: Lucida;
}