.cartborder{
    border-style: dashed;
      border-color: white;
            border-radius: 20px;
    height: auto;
      width: 100%;
}

.cartproductborder{
    border-style: dashed;
      border-color: #E8D874 white white white;
            border-radius: 20px;
            height: auto;
      width: 100%;
}
