input.number {
    display: inline-block;
    width: 72px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-image: url(images/number1.png);
    background-repeat: no-repeat;
    background-size: 72px 20px;
    border: none;
    cursor: pointer;
}

    input.number:focus {
        background-image: url(images/number2.png);
        border: none;
    }